.App {
  text-align: center;
}

.all-products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product {
  display: inline-block;
  width: 20%;
  border: 2px solid black;
  padding: 1.5rem;
  margin: 1rem;
}

.product a {
  text-decoration: none;
  color: black;
}

.product-image {
  width: 12rem;
  height: 12rem;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  color: black;
}

nav a:hover {
  font-weight: 550;
  background-color: lightblue;
}

#products-page-inputs {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#products-page-inputs button {
  padding: 0.5rem;
}

#searchCriteria {
  width: 40%;
}

.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
}

.cart-content img {
  width: 5rem;
  height: 5rem;
}

.cart-content img + p {
  width: 40%;
}

.product-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

[id$='Form-container'] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 100%;
}

form > * {
  padding: 0.5rem;
}
