.App {
  text-align: center;
}

.all-products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product {
  display: inline-block;
  width: 20%;
  border: 2px solid black;
  padding: 1.5rem;
  margin: 1rem;
}

.product-image {
  width: 12rem;
  height: 12rem;
}
